.convert-module {
  grid-column: 3;
  margin-right: 70px;
  justify-content: center;
}

.label-file {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: var(--radius);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  width: 240px;
}

.label-file:hover {
  color: #25a5c4;
}

.input-file {
  display: none;
}

